<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="en-US">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html class="js" lang="en-US"><!--<![endif]-->
<head>
   <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta charset="UTF-8">
    <title>Book Detail | Purple Hills Books</title>


    <!--[if lt IE 9]>
    <script src="misc/html5.js" type="text/javascript"></script>
    <![endif]-->

    <script src="misc/merchant.js"></script>
    <script type="text/javascript">
        document.documentElement.className = 'js';
    </script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" id="woocommerce-addons-css-css" href="misc/frontend.css" type="text/css" media="all">
    <link rel="stylesheet" id="woocommerce_prettyPhoto_css-css" href="misc/prettyPhoto.css" type="text/css" media="all">
    <link rel="stylesheet" id="woocommerce-layout-css" href="misc/woocommerce-layout.css" type="text/css" media="all">
    <link rel="stylesheet" id="woocommerce-smallscreen-css" href="misc/woocommerce-smallscreen.css" type="text/css" media="only screen and (max-width: 768px)">
    <link rel="stylesheet" id="woocommerce-general-css" href="misc/woocommerce.css" type="text/css" media="all">
    <link rel="stylesheet" id="divi-fonts-css" href="misc/css.css" type="text/css" media="all">
    <link rel="stylesheet" id="divi-style-css" href="misc/style.css" type="text/css" media="all">
    <link rel="stylesheet" id="et_lb_modules-css" href="misc/style_002.css" type="text/css" media="all">
    <link rel="stylesheet" id="et-shortcodes-css-css" href="misc/shortcodes.css" type="text/css" media="all">
    <link rel="stylesheet" id="et-shortcodes-responsive-css-css" href="misc/shortcodes_responsive.css" type="text/css" media="all">
    <link rel="stylesheet" id="custom-background-css" href="misc/extra.css" type="text/css" media="all">


    <script type="text/javascript" src="misc/jquery.js"></script>
    <script type="text/javascript" src="misc/jquery-migrate.js"></script>
    <link rel="canonical" href="Detail.htm">
    <link rel="shortlink" href="https://purplehillsbooks.com/?p=351">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" href="misc/logofavicon.png">

    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
    <script src="bookApp.js"></script>
</head>

<body style="padding-top: 80px;"
      class="single single-product postid-351 custom-background woocommerce woocommerce-page et_fixed_nav et_right_sidebar gecko et_includes_sidebar"
      ng-app="bookApp" ng-controller="bookCtrl">

{{selectBook()}}

<header id="main-header">
<div ng-include="'header.htm'">
</header> <!-- #main-header -->

        <div id="main-content">
            <div class="container">
                <div id="content-area" class="clearfix">
                    <div id="left-area"><nav class="woocommerce-breadcrumb" itemprop="breadcrumb">
                    <a class="home" href="../" id="top-of-page-for-me">Home</a> / Books / {{selBook.title}}</nav>



<div itemscope="" itemtype="http://schema.org/Product" id="product-351" class="post-351 product type-product status-publish has-post-thumbnail featured taxable shipping-taxable purchasable product-type-variable product-cat-math instock">

    <div class="images">

    <a href="#" itemprop="image" class="woocommerce-main-image zoom"
       title="front" data-rel="prettyPhoto"><img ng-src="{{selBook.key}}/cover.jpg"
       class="attachment-shop_single wp-post-image" alt="front"
             title="front" height="628" width="510"></a>

</div>

<div class="summary entry-summary">

    <h1 itemprop="name" class="product_title entry-title">{{selBook.longTitle}}</h1><div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">

    <p class="price"><span class="amount">{{selBook.price}}</span></p>

</div>




<div class="product_meta">
    <span class="posted_in">Categories:
        <span ng-repeat="cat in selBook.cats">
            <a href="Category.htm#/cat={{cat|encode}}" rel="tag">{{cat}}</a>,
        </span>
    </span>
    <br/>
    <span class="posted_in">Authors:
        <span ng-repeat="author in selBook.authors">
            <a href="Author.htm#/author={{author|encode}}" rel="tag">{{author}}</a>, &nbsp;
        </span>
    </span>
    <br/>
    <br/>
    <br/>
    <span class="posted_in" ng-hide="selBook.purchLink">Purchase:
        <a href="http://www.amazon.com/s/ref=nb_sb_noss_1?url=search-alias%3Daps&field-keywords={{selBook.longTitle|encode}}">Find this on Amazon</a>
    </span>
    <span class="posted_in" ng-show="selBook.purchLink">
        <a href="{{selBook.purchLink}}" class="btn btn-primary" target="_amazon">Get Print Book</a>
    </span>
    <br/>
        <br/>
    <span class="posted_in" ng-show="selBook.ebookLink">
        <a href="{{selBook.ebookLink}}" class="btn btn-primary" target="_ebook">Get eBook</a>
    </span>
</div>

</div><!-- .summary -->


<div class="woocommerce-tabs">
    <ul class="tabs">
        <li class="description_tab active">
            <a href="" ng-click="tabmode=1">Description</a>
        </li>
        <li class="additional_information_tab">
            <a href="" ng-click="tabmode=2">Additional Information</a>
        </li>
        <li class="reviews_tab">
            <a href="" ng-click="tabmode=3">Reviews (0)</a>
        </li>
    </ul>

    <div ng-show="tabmode==1" class="panel entry-content" id="tab-description">
        <h2>Product Description</h2>
        <p ng-include="selBook.key+'/description.htm'"></p>
    </div>


    <div ng-show="tabmode==2" class="panel entry-content" id="tab-additional_information">
        <h2>Additional Information</h2>

        <table class="shop_attributes">
            <tbody>
            <tr class="">
                <th>ISBN</th>
                <td class="product_weight">{{selBook.isbn}}</td>
            </tr>
            <tr class="">
                <th>Weight</th>
                <td class="product_weight">{{selBook.weight}}</td>
            </tr>
            <tr class="alt">
                <th>Dimensions</th>
                <td class="product_dimensions">{{selBook.dimensions}}</td>
            </tr>
            <tr class="">
                <th>pages</th>
                <td><p>{{selBook.pages}}</p></td>
            </tr>
        </tbody>
    </table>
</div>


<div ng-show="tabmode==3" class="panel entry-content" id="tab-reviews">
    <div id="reviews">
        <div id="comments">
            <h2>Reviews</h2>
            <p class="woocommerce-noreviews">There are no reviews yet.</p>
        </div>
    <div class="clear"></div>
</div>
</div>
</div>


<div class="related products">
    <h2>Related Products</h2>
    <ul class="products">
        <li class="product type-product status-publish has-post-thumbnail featured"
            ng-repeat="rel in findRelated(selBook.cats[0])" ng-hide="(rel.key==selBook.key)">
        <a ng-click="updateBook(rel.key)">

            <span class="et_shop_image">
            <img ng-src="{{rel.key}}/square.jpg" class="attachment-shop_catalog wp-post-image" alt="Elem_fr_small">
                <span class="et_overlay"></span>
            </span>
            <h3 style="height:50px;">{{rel.title}}</h3>

        </a>
        </li>


    </ul>
</div>

</div><!-- #product-351 -->
</div> <!-- #left-area -->
</div> <!-- #content-area -->
</div> <!-- .container -->
</div> <!-- #main-content -->

<footer id="main-footer">
<div ng-include="'footer.htm'"></div>
</footer> <!-- #main-footer -->

<script type="text/javascript" src="misc/jquery_002.js"></script>
<script type="text/javascript" src="misc/jquery_004.js"></script>
<script type="text/javascript" src="misc/devicepx-jetpack.js"></script>
<script type="text/javascript" src="misc/jquery_003.js"></script>
<script type="text/javascript" src="misc/waypoints.js"></script>
<script type="text/javascript" src="misc/custom.js"></script>

</body></html>